 /*
 Name: Vinceravago
 File: style.css
 Date Created: 2/2/2025
 Date Updated: 2/27/2025
 Purpose: Style sheet for MIS 3371 HW1
 */
 /* Top border area of form*/
body 
    {
        font-family: Courier New, monospace;
        background-color: #ADD8E6;
    }

header 
    {
        background-color: #80D0F4;
        text-align: center;
        font-family: Times New Roman, Serif;
        border: 1px solid;
        padding: 10px;
    }

.logo 
    {
        position: absolute;
        left: 20px;
        top: 10px;
        width: 95px;
    }

.date-banner
    {
        position: absolute;
        right: 20px;
        top: 10px;
    }

th
    {
        text-align: right;
    }

td
    {
        padding: 5px;
    }

table.output, tr.output, td.output 
    {
        width: 500px;
        background-color: #FFFFFF;
        padding: 10px;
        border: 1px solid;
        border-spacing: 2px;
        table-layout: fixed;
        word-wrap: break-word; 
    }

footer
    {
        position: bottom;
        background-color: #80D0F4;
        text-align: middle;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #888888;
    }

.error 
    {
        color: black;
        font-size: 12px;
        font-family: Courier New, monospace;
    }

#pword-error 
   {
       display: block;
   }
